
.icon-ok:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-reddit-alien:before { content: '\f281'; } /* '' */
